
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <script src="iconfont.js"></script>

    <style type="text/css">
        .icon {
          /* 通过设置 font-size 来改变图标大小 */
          width: 1em; height: 1em;
          /* 图标和文字相邻时，垂直对齐 */
          vertical-align: -0.15em;
          /* 通过设置 color 来改变 SVG 的颜色/fill */
          fill: currentColor;
          /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
          overflow: hidden;
        }

    </style>
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-hei"></use>
                    </svg>
                    <div class="name">嘿</div>
                    <div class="fontclass">#icon-hei</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-chuangjianshitu"></use>
                    </svg>
                    <div class="name">创建视图</div>
                    <div class="fontclass">#icon-chuangjianshitu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fuzhishitu"></use>
                    </svg>
                    <div class="name">复制视图</div>
                    <div class="fontclass">#icon-fuzhishitu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shanchushitu"></use>
                    </svg>
                    <div class="name">删除视图</div>
                    <div class="fontclass">#icon-shanchushitu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shitupeizhi"></use>
                    </svg>
                    <div class="name">视图配置</div>
                    <div class="fontclass">#icon-shitupeizhi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-biaodandaochu"></use>
                    </svg>
                    <div class="name">表单导出</div>
                    <div class="fontclass">#icon-biaodandaochu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-daima"></use>
                    </svg>
                    <div class="name">代码</div>
                    <div class="fontclass">#icon-daima</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fanhui"></use>
                    </svg>
                    <div class="name">返回</div>
                    <div class="fontclass">#icon-fanhui</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-qianjin"></use>
                    </svg>
                    <div class="name">前进</div>
                    <div class="fontclass">#icon-qianjin</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-buju"></use>
                    </svg>
                    <div class="name">布局</div>
                    <div class="fontclass">#icon-buju</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-yuansujiaoben"></use>
                    </svg>
                    <div class="name">元素脚本</div>
                    <div class="fontclass">#icon-yuansujiaoben</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-biaoqian"></use>
                    </svg>
                    <div class="name">标签</div>
                    <div class="fontclass">#icon-biaoqian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-mima"></use>
                    </svg>
                    <div class="name">密码</div>
                    <div class="fontclass">#icon-mima</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-baojingqi"></use>
                    </svg>
                    <div class="name">报警器</div>
                    <div class="fontclass">#icon-baojingqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-gouxuankuang"></use>
                    </svg>
                    <div class="name">勾选框</div>
                    <div class="fontclass">#icon-gouxuankuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shuxingjisuan"></use>
                    </svg>
                    <div class="name">属性计算</div>
                    <div class="fontclass">#icon-shuxingjisuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-dianziyoujian"></use>
                    </svg>
                    <div class="name">电子邮件</div>
                    <div class="fontclass">#icon-dianziyoujian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-gouxuankuang-wenbenlei"></use>
                    </svg>
                    <div class="name">勾选框-文本类</div>
                    <div class="fontclass">#icon-gouxuankuang-wenbenlei</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-danxuankuang"></use>
                    </svg>
                    <div class="name">单选框</div>
                    <div class="fontclass">#icon-danxuankuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shuzifanwei"></use>
                    </svg>
                    <div class="name">数字范围</div>
                    <div class="fontclass">#icon-shuzifanwei</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-kaiguan"></use>
                    </svg>
                    <div class="name">开关</div>
                    <div class="fontclass">#icon-kaiguan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-wenbenkuang"></use>
                    </svg>
                    <div class="name">文本框</div>
                    <div class="fontclass">#icon-wenbenkuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-jindutiao"></use>
                    </svg>
                    <div class="name">进度条</div>
                    <div class="fontclass">#icon-jindutiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-bilitiao"></use>
                    </svg>
                    <div class="name">比例条</div>
                    <div class="fontclass">#icon-bilitiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-yuansujiaoben1"></use>
                    </svg>
                    <div class="name">元素脚本</div>
                    <div class="fontclass">#icon-yuansujiaoben1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shuzikuang"></use>
                    </svg>
                    <div class="name">数字框</div>
                    <div class="fontclass">#icon-shuzikuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duixiangdankuangdianxuan"></use>
                    </svg>
                    <div class="name">对象弹框点选</div>
                    <div class="fontclass">#icon-duixiangdankuangdianxuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-biaoqianye"></use>
                    </svg>
                    <div class="name">标签页</div>
                    <div class="fontclass">#icon-biaoqianye</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duixiangxialadianxuan"></use>
                    </svg>
                    <div class="name">对象下拉点选</div>
                    <div class="fontclass">#icon-duixiangxialadianxuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fengexian"></use>
                    </svg>
                    <div class="name">分割线</div>
                    <div class="fontclass">#icon-fengexian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-anniu"></use>
                    </svg>
                    <div class="name">按钮</div>
                    <div class="fontclass">#icon-anniu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xuanguangtexiao"></use>
                    </svg>
                    <div class="name">炫光特效</div>
                    <div class="fontclass">#icon-xuanguangtexiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fenzukuang"></use>
                    </svg>
                    <div class="name">分组框</div>
                    <div class="fontclass">#icon-fenzukuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fenzubiaoge"></use>
                    </svg>
                    <div class="name">分组表格</div>
                    <div class="fontclass">#icon-fenzubiaoge</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-reduditu"></use>
                    </svg>
                    <div class="name">热度地图</div>
                    <div class="fontclass">#icon-reduditu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-guanlianshu"></use>
                    </svg>
                    <div class="name">关联树</div>
                    <div class="fontclass">#icon-guanlianshu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fenzushu"></use>
                    </svg>
                    <div class="name">分组树</div>
                    <div class="fontclass">#icon-fenzushu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shuzhuangbiaoge"></use>
                    </svg>
                    <div class="name">树状表格</div>
                    <div class="fontclass">#icon-shuzhuangbiaoge</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-jiandanbiaoge"></use>
                    </svg>
                    <div class="name">简单表格</div>
                    <div class="fontclass">#icon-jiandanbiaoge</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-mianban"></use>
                    </svg>
                    <div class="name">面板</div>
                    <div class="fontclass">#icon-mianban</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-hangzhengquhua"></use>
                    </svg>
                    <div class="name">行政区划</div>
                    <div class="fontclass">#icon-hangzhengquhua</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-dituweizhidianxuanqi"></use>
                    </svg>
                    <div class="name">地图位置点选器</div>
                    <div class="fontclass">#icon-dituweizhidianxuanqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-dituweizhi"></use>
                    </svg>
                    <div class="name">地图位置</div>
                    <div class="fontclass">#icon-dituweizhi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-riqifanwei"></use>
                    </svg>
                    <div class="name">日期范围</div>
                    <div class="fontclass">#icon-riqifanwei</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-chaxunpeizhi"></use>
                    </svg>
                    <div class="name">查询配置</div>
                    <div class="fontclass">#icon-chaxunpeizhi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fenzujiliandianxuanqi"></use>
                    </svg>
                    <div class="name">分组级联点选器</div>
                    <div class="fontclass">#icon-fenzujiliandianxuanqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shijianfanwei"></use>
                    </svg>
                    <div class="name">时间范围</div>
                    <div class="fontclass">#icon-shijianfanwei</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-riqishijianhaomiaoshurukuang"></use>
                    </svg>
                    <div class="name">日期时间毫秒输入框</div>
                    <div class="fontclass">#icon-riqishijianhaomiaoshurukuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-guanlianshuxingdianxuanqi"></use>
                    </svg>
                    <div class="name">关联树形点选器</div>
                    <div class="fontclass">#icon-guanlianshuxingdianxuanqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-riqishijianchuoshurukuang"></use>
                    </svg>
                    <div class="name">日期时间戳输入框</div>
                    <div class="fontclass">#icon-riqishijianchuoshurukuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-qiapian"></use>
                    </svg>
                    <div class="name">卡片</div>
                    <div class="fontclass">#icon-qiapian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-riqixuanzekuang"></use>
                    </svg>
                    <div class="name">日期选择框</div>
                    <div class="fontclass">#icon-riqixuanzekuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pingji"></use>
                    </svg>
                    <div class="name">评级</div>
                    <div class="fontclass">#icon-pingji</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-chaolianjie"></use>
                    </svg>
                    <div class="name">link</div>
                    <div class="fontclass">#icon-chaolianjie</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-danchuang"></use>
                    </svg>
                    <div class="name">弹窗</div>
                    <div class="fontclass">#icon-danchuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xuanzekuang"></use>
                    </svg>
                    <div class="name">选择框</div>
                    <div class="fontclass">#icon-xuanzekuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-chaxuntiaojiankuang"></use>
                    </svg>
                    <div class="name">查询条件框</div>
                    <div class="fontclass">#icon-chaxuntiaojiankuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duixiangxialakuang"></use>
                    </svg>
                    <div class="name">对象下拉框</div>
                    <div class="fontclass">#icon-duixiangxialakuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-ditu"></use>
                    </svg>
                    <div class="name">ditu</div>
                    <div class="fontclass">#icon-ditu</div>
                </li>
            
        </ul>


        <h2 id="symbol-">symbol引用</h2>
        <hr>

        <p>这是一种全新的使用方式，应该说这才是未来的主流，也是平台目前推荐的用法。相关介绍可以参考这篇<a href="">文章</a>
        这种用法其实是做了一个svg的集合，与另外两种相比具有如下特点：</p>
        <ul>
          <li>支持多色图标了，不再受单色限制。</li>
          <li>通过一些技巧，支持像字体那样，通过<code>font-size</code>,<code>color</code>来调整样式。</li>
          <li>兼容性较差，支持 ie9+,及现代浏览器。</li>
          <li>浏览器渲染svg的性能一般，还不如png。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-symbol-">第一步：引入项目下面生成的symbol代码：</h3>
        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;script src="./iconfont.js"&gt;&lt;/script&gt;</span></code></pre>
        <h3 id="-css-">第二步：加入通用css代码（引入一次就行）：</h3>
        <pre><code class="lang-js hljs javascript">&lt;style type=<span class="hljs-string">"text/css"</span>&gt;
.icon {
   width: <span class="hljs-number">1</span>em; height: <span class="hljs-number">1</span>em;
   vertical-align: <span class="hljs-number">-0.15</span>em;
   fill: currentColor;
   overflow: hidden;
}
&lt;<span class="hljs-regexp">/style&gt;</span></code></pre>
        <h3 id="-">第三步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-js hljs javascript">&lt;svg <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"icon"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;<span class="xml"><span class="hljs-tag">
  &lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#icon-xxx"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
</span>&lt;<span class="hljs-regexp">/svg&gt;
        </span></code></pre>
    </div>
</body>
</html>
